/*RevertX2*/
		html.no-focus-outline.spotify__os--is-windows.spotify__container--is-desktop {
			overflow: hidden;
		}
		.Root.encore-dark-theme.encore-layout-themes {
			--panel-gap: 0px !important;
		}
		/*Fonts*/
			span.main-type-mestoBold, .Dropdown-option.is-selected, .Dropdown-option, .Dropdown-placeholder.is-selected, .main-cardHeader-text.main-type-balladBold { font-family: Calibri semibold !important;}
			a.marketplace-card__author { font-family: Calibri light !important;} 
/*Colour*/
		.Root__top-container {
			background-color: transparent !important;
			gap: 0px !important;
		}
	/*Sidebar Colour*/
		.main-yourLibraryX-libraryContainer, .main-yourLibraryX-libraryFilter {	
			background: black !important;
		}
		.main-yourLibraryX-entryPoints {
			background-color: transparent !important;
		}
	/*Playlist Gradient*/
		.main-entityHeader-overlay {
			background: linear-gradient(transparent 0, rgba(var(--spice-rgb-shadow), .6) 100%), var(--background-noise);
		}
	/*Playlist Play Button*/
		/*span.IconWrapper__Wrapper-sc-1hf1hjl-0.Wrapper-large-only-medium {
			color: rgb(0 0 0 / 90%);
		}*/
/*Navbar*/
	/*Left Navbar*/
		.main-yourLibraryX-entryPoints {
			border-radius: 0px !important;
			padding-left: 10px;
		}
		.main-yourLibraryX-entryPoints #spicetify-show-list, .main-yourLibraryX-entryPoints #spicetify-hidden-list {
			padding-bottom: 2px !important;
		}
		.fYWNdY4zhj4OX_T2Xtg6, .BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px {
		    padding-right: 6px;
		}
	/*Collapsed Navbar*/
		.main-yourLibraryX-libraryRootlist.main-yourLibraryX-libraryIsCollapsed {
			padding: 0px 10px 4px;
		}
	/*Library Alignment*/
		.main-yourLibraryX-libraryContainer {
			margin-top: -15px !important;
		}
		.spotify__container--is-desktop .Root__top-container {
			padding: 0px !important;
		}
		.main-navBar-mainNav {
			gap: 0px !important;
		}
		.main-yourLibraryX-header .main-yourLibraryX-collapseButtonWrapper {
			gap: 7px;
		}
	/*Navbar Alignment*/
		.Root__nav-bar, .main-navBar-mainNav {
			padding-top: 25px !important;
		}
		.main-yourLibraryX-libraryRootlist {
			padding: 0px 16px 500px 10px;
		}
		.Root__nav-bar {
			min-width: 92px;
			max-width: -webkit-fill-available;
		}
		.main-yourLibraryX-navLink  {
			height: 30px;
		}
		/*.main-yourLibraryX-listItem {
			padding-top: 6px;
		}*/
		.Pns6F5g4OEwEpdmOWTLg {
			filter: opacity(0.5);
			scale: 0.9;
			margin-top: -0.8em;
			margin-left: -1.1em;
		}
	/*Icon Visibility*/
		.Svg-presentation-icon-small, .Svg-img-icon-small-textBrightAccent {
			overflow: visible;
		}
		.Svg-img-icon-small {
			overflow: visible;
		}
/*Border*/
		.Root__main-view {
			width: -webkit-fill-available !important;
			margin-left: 0px !important;
			border-radius: 0px !important;
			margin-right: -3px !important;
		}
/*Topbar*/
	/*Z-Index*/
		.main-topBar-historyButtons, .main-topBar-topbarContentWrapper, .main-topBar-topbarContentRight {
			z-index: 9999;
		}
	/*Background*/
		.main-topBar-background {
			width: 1000%;
			z-index: 2;
			height: 65px;
			position: fixed;
		}
	/*Profile Pic*/
		.spotify__container--is-desktop.spotify__os--is-windows .main-topBar-container {
			padding-inline-end: 12em;
		    padding-inline-start: 1em;
			position: fixed;
			max-width: -webkit-fill-available;
		}
	/*Forward Button*/
		.main-topBar-historyButtons .main-topBar-forward {
			display: inline-flex !important;
		}
	/*Tracklist Header*/
		._2ajKWDiy6YvJu5wo8I1g.main-trackList-trackListHeader {
		    padding-inline-end: 1em;
		}
		.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
			margin-top: 1px;
			min-width: 745px;
			margin-left: -25px;
		}
		.main-trackList-trackListHeader {
			margin-left: -20px;
			margin-right: -20px;
			padding-inline-start: 1em;
			padding-inline-end: 1em;
		}
	/*Dropdown*/	
		.main-topBar-container {
			contain: none !important;
		}
	/*Drag*/
		.spotify__container--is-desktop:not(.fullscreen).spotify__os--is-windows .body-drag-top {
			height: 60px;
		}
		.spotify__container--is-desktop:not(.fullscreen) .main-topBar-background, .spotify__container--is-desktop:not(.fullscreen) .main-topBar-container>* {
			-webkit-app-region: drag;
		}
		.search-searchCategory-carousel.e1CGifl7UjMqePPNhj5A, .main-topBar-historyButtons, .encore-dark-theme .encore-over-media-set, .TabBar-module__tabBar___-Q8zx_betterDlocalDfiles ul li {
			-webkit-app-region: no-drag !important;
		}
		.LayoutResizer__inline-end {
			height: 100%;		
			top: 0px;
		}
		.main-topBar-topbarContentWrapper{
			-webkit-app-region: drag;
		}
	/*Local Files*/
		nav.app-module__tabBar___EngzO_betterDlocalDfiles {
			-webkit-app-region: no-drag;
			width: fit-content;
		}
	/*Search Scale*/
		.x-searchInput-searchInputInput {
			height: 40px;
		}
/*Bottombar*/
	/*Heart*/
		.__heart, .control-button-heart, .main-addButton-active {
			color: var(--spice-color);
			fill: var(--spice-color);
		}
	/*Height*/
		.main-nowPlayingBar-nowPlayingBar {
			height: 80px;
			border-top: 0.1px ridge var(--spice-player);
		}
	/*Left Corner*/
		.main-nowPlayingBar-left {
			padding-left: 10px;
			padding-bottom: 1px;
		}
	/*Right Corner */
		.main-nowPlayingBar-right {
			padding-right: 10px;
		}
	/*Connect*/
		.main-connectBar-connectBar {
			padding-bottom: 6px;
			padding-top: 6px;
			margin-top: -3px;
			height: 25px;
			border-radius: 0px;
		}
		a.main-devicePicker-heading.hcuLp8V4uEEfWZ4k6aLV.rsaJ_PD5Wsx9a9H2IyV_ {
			display: none; 
		}
	/*Now Playing Button*/
		button.Button-sc-1dqy6lx-0:has(span):has(svg):has(path[d='M11.196 8 6 5v6l5.196-3z']) { 
			display: none; 
		}
	/*Play Button*/
		span.ButtonInner-sc-14ud5tc-0.ButtonInner-small-iconOnly.encore-inverted-light-set{
			background: white !important;
			color: black !important;
		}
/*Alignment*/
	/*LyricX2*/
		.lyrics-lyrics-contentContainer{max-width:min-content;min-width:min-content}.lyrics-lyricsContent-text{display:inline-flex;width:400%}.lyrics-lyrics-background{height:110%}.lyrics-lyrics-contentContainer .lyrics-lyrics-contentWrapper{margin:0 32px}.lyrics-lyrics-contentContainer .GML6YUVCeJvRhGznLnqm{margin-top:0!important;padding:0!important;width:max-content}.spotifyinternal-artistnpv .npv-lyrics__text-wrapper--next {opacity: 0.2}
	/*Hide Horizontal Scrollbar*/
		.os-scrollbar-horizontal .os-scrollbar-handle {
			display: none;
		}
	/*Scrollbar Move Right*/
		.spotify__container--is-desktop.spotify__os--is-windows .main-view-container__scroll-node>.os-scrollbar-vertical {
			top: 40px;
			margin-right: 5px;
		}
	/*Scrollbar Size*/
		.os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle, .os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track { width: 65%; border-radius: 4px;}
		.n7lpLbjlkn69nQ1BhwZg, .n7lpLbjlkn69nQ1BhwZg.ZtZC7H7E6gtj5tlwNsn8{scrollbar-width: thin;}
	/*Topbar*/
		.contentSpacing {
			max-width: -webkit-fill-available;
		    padding: 0px 20px 0px 15px;
		}
		.hV9v6y_uYwdAsoiOHpzk.contentSpacing {
		    padding: 0px 20px 0 0px;
		}
	/*Profile Pic*/
		.main-topBar-topbarContentRight {
			gap: 8px;
		}
	/*Navbar Icons*/
		.main-yourLibraryX-navItem {
			width: fit-content;
			padding: 8px 12px;
		}
	/*Right panel*/
		.main-nowPlayingView-content, .main-buddyFeed-content {
		   margin-top: auto;
		}
		.Root__right-sidebar {
			position: relative;
			z-index: 0;
			overflow: hidden;
			margin-top: 60px;
		}
/*		.HeaderSideAreaFlexContainer {
			padding-top: 8px;
		}*/
	/*Artist Page Padding*/
		.artist-artistOverview-artistOverviewContainer {
		    margin: 8px 0 8px;
		}
		.main-actionBar-ActionBar.contentSpacing {
			padding-top: 10px;
		}
	/*Artist Play Button*/
		.artist-artistOverview-artistOverviewContent {
			padding-top: 10px;
		}
	/*Cover Art*/
		.main-entityHeader-imageContainerNew {
			height: clamp(128px,128px + (77vw - 700px)/424*104,232px) !important;
			width: clamp(128px,128px + (77vw - 700px)/424*104,232px) !important;
		}
		.main-entityHeader-container {
		   padding-bottom: var(--content-spacing) !important;
		}
	/*Playlist Header*/
		.main-entityHeader-container.main-entityHeader-nonWrapped {
			height: unset;
			min-height: unset;
			padding-top: 70px;
			gap: 20px;
			padding-left: 0px;
			padding-bottom: 20px !important;
		}
		.iWTIFTzhRZT0rCD0_gOK.contentSpacing {
			padding-left: 30px;
		}
		.artist-artistOverview-artistOverviewContent, .main-actionBar-ActionBar.contentSpacing {
			padding: 10px 30px 10px 20px;
		}
	/*Local Files Header*/
/*		.contentSpacing.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-newEntityHeaders {
			min-height: clamp(128px,128px + (75vw - 560px)/424*104,260px);
		}*/
		.main-entityHeader-headerText {
			padding-bottom: 20px;
			padding-left: 20px;
		}
		.main-entityHeader-title {
		    width: 85%;
		}
	/*Download Button*/
		.main-actionBar-ActionBarRow>:first-child:not(:only-child) {
		    margin-right: calc(var(--content-spacing) + -8px);
		}
	/*Button Gap on Multiple pages*/
		.main-actionBar-ActionBarRow {
			gap: 10px;
		}
/*Hover*/
		.main-trackList-trackListRow.main-trackList-selected, .main-trackList-trackListRow.main-trackList-selected:hover {background-color: rgba(var(--spice-rgb-highlight-elevated));}
		.main-trackList-trackListRow:focus-within, .main-trackList-trackListRow:hover {background-color: rgba(var(--spice-rgb-highlight)); filter: drop-shadow(2px 0px 15px #00000080);}
/*Scale*/
	/*Playlist Play Button*/
		.Wrapper-large-medium-only {
			scale: 1.3;
		}
		.ButtonInner-large-iconOnly {
			scale: 0.85
		} 
	/*Top Play Button*/
		.main-card-PlayButtonContainer.yQR3gZkUwRPHSaeJBXEk {
		    scale: 0.8;
		}
		.Wrapper-medium-medium-only {
			top: auto;
			left: auto;
		}
		.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
			scale: 0.9;
			object-position: left;
		}
		.main-topBar-topbarContent {
			gap: 0px
		}
	/*Liked Songs*/
		.main-card-PlayButtonContainer.yQR3gZkUwRPHSaeJBXEk.main-card-PlayButtonContainerVisible {
    		scale: 0.8;
		}
		span.IconWrapper__Wrapper-sc-1hf1hjl-0.Wrapper-medium-medium-only {
			right: 0.8em;
		}
	/*List Size*/
		.BoxComponent-group-listRow-naked-isInteractive-hasLeadingOrMedia-minBlockSize_56px-padding_8px-paddingBlockStart_8px-paddingBlockEnd_8px, .BoxComponent-group-listRow-tinted-isInteractive-hasLeadingOrMedia-minBlockSize_56px-padding_8px-paddingBlockStart_8px-paddingBlockEnd_8px {
			padding: 5px 5px 4px 5px;
		}
/*Marketplace*/
	/*Top Bar*/
		.marketplace-header__left>:is(div,button), .marketplace-header__right>:is(div,button) {
		    align-content: center;
		}
	/*Top Dropdown*/
		.Dropdown-option, .Dropdown-option:last-child {
			app-region: no-drag;
		}
	/*Dropdown*/
		.Dropdown-control{
			height: 40px;
			align-content: center;
		}
/*Custom Apps*/	
	/*Statistics*/
		.main-trackList-trackListRow:hover:not(.main-trackList-disabled) .main-trackList-rowMoreButton {
			background: transparent;
			border: 0px;
		}
		#spicetify-show-list {
			padding: 0px 12px !important;
			background: black !important;
			position: relative !important;
			bottom: 10px !important;
		}
		.__heart, .control-button-heart, .main-addButton-active {
			background: transparent;
			border: 0px;
		}
		.main-addButton-button[aria-checked="false"] {
			color: red;
			background: transparent;
			border: 0px;
		}
		.badge {background-color: var(--spice-color);}
		
	/*Better Local Files*/
		.app-module__stretch-container___SIzsh_betterDlocalDfiles {
			background: transparent;
			overflow: visible;
		}
		.main-cardImage-circular {
			border-radius: 2%;
		}
	/*Eternal Jukebox*/
		button.main-repeatButton-button {
			background: transparent;
			border: unset;
		}
		button.main-repeatButton-button.main-repeatButton-active {
			color: var(--spice-color);
		}
	/*Sleep Timer*/
		main-genericButton-button.main-genericButton-buttonActive {
			filter: none;
		}
		svg.Svg-sc-ytk21e-0.Svg-img-16-icon.uPxdw {
			filter: none;
		}
		svg.Svg-sc-ytk21e-0.Svg-img-16-icon.uPxdw:active {
			filter: none;
			fill: var(--spice-color);
		}
		#sleep-timer-menu .btn-primary, #sleep-timer-menu .btn-primary:hover {
			background: var(--spice-color) !important;
			border: unset !important;
		}
		.popup-menu:before {
			bottom: -16px;
			margin-left: 45%;
			right: unset;
		}
		.main-trackList-trackListRow.main-trackList-active .main-trackList-playingIcon { -webkit-filter: unset !important; filter: unset !important;}
/*Artist Page*/
	/*Cover Gradient*/
		.main-entityHeader-container.main-entityHeader-withBackgroundImage {
			background: none; /*linear-gradient(180deg, rgb(18 18 18 / 0%) 80%, #121212 84%);*/
		    max-height: 35vh;
		}
	/*Liked Songs*/
		.FOgY6uo_Bj_VTV5hwaix {
			height: 120px;
		}
		.VjLekolG5eyfw_9Hhjxv {
			margin-top: unset;
		}
	/*Artist Pick*/
		.guUl5dHbF5HJRvwjBxzR, .JJvGfNiGtduy_XoXPFT1 {
			display: block;
			height: 125px;
		}
	/*Text Above Artist Pick*/
		.kwzBRpFigKr1EP2d5qle {
			z-index: 10;
			pointer-events: none;
		}
		.ZEsebSb1CaZVzuPawZEj {
			bottom: -20px;
		}
		a.Button-sc-y0gtbx-0.Button-small-buttonSecondary-useBrowserDefaultFocusStyle.O36HCbLOjWcWkAwkNXqJ {
			left: 200px;
			bottom: 30px;
		}
		
		
	/*Topbar Fix*/
		.main-topBar-historyButtons,.main-topBar-topbarContentRight{pointer-events:all}.main-topBar-container>*{pointer-events:none}.aKOZdeebnsaeeMTiugmO{-webkit-app-region:no-drag}.search-searchCategory-contentArea,button.LegacyChip__LegacyChipComponent-sc-tzfq94-0.LegacyChipComponent-checkbox-chip-sm-useBrowserDefaultFocusStyle.encore-text-body-small{app-region:no-drag!important}.hV9v6y_uYwdAsoiOHpzk.contentSpacing{position:fixed;padding-right:190px;padding-top:20px;padding-bottom:20px;-webkit-app-region:drag!important;z-index:2}.main-home-filterChipsContainer{position:absolute;top:8px;left:80px;z-index:1}
	/*Marketplace Colour Dropdown*/
		.Dropdown-root.is-open .Dropdown-menu {overflow-x: hidden; scrollbar-width: none;}
	/*Colour Fix*/
		/*Color*/
		.Button-textBrightAccent-small-small-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle, button.main-repeatButton-button.main-repeatButton-active, .Button-switch-textBrightAccent-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle:active, .Button-switch-textBrightAccent-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle, .encore-internal-color-text-bright-accent, .main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle, .main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker, .main-genericButton-button.main-genericButton-buttonActive:active:focus, .main-genericButton-button.main-genericButton-buttonActive:active:hover, .main-genericButton-button.main-genericButton-buttonActive, .main-genericButton-button.main-genericButton-buttonActive:focus, .main-genericButton-button.main-genericButton-buttonActive:hover, button.Button-sc-1dqy6lx-0.Button-textBrightAccent-small-small-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle.control-button.control-button-heart, .devtools-icon, .Button-checkbox-textBrightAccent-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle {color: var(--spice-color) !important;}

		/*Background-color*/
		.StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle[aria-selected="true"]::before, .Button-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only:hover .ButtonInner-sc-14ud5tc-0, .main-genericButton-button.main-genericButton-buttonActiveDot:after {background-color: var(--spice-color);}

		/*Border*/
		.marketplace-card--installed {border: 1px solid var(--spice-color) !important;}

		/*Fill*/
		.devtools-icon, button.Button-sc-1dqy6lx-0.Button-textBrightAccent-small-small-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle.control-button.control-button-heart, svg.main-trackList-arrow, .Svg-presentation-icon-medium-textBrightAccent, .Svg-img-icon-xsmall-textBrightAccent, .Svg-img-icon-small-textBrightAccent {fill: var(--spice-color) !important;}

		/*--is-active-fg-color*/
		.progress-bar {--is-active-fg-color: var(--spice-color) !important;}

		/*--background-base*/
		.encore-dark-theme .encore-bright-accent-set {
		--background-base: var(--spice-color) !important;}

		/*Sleep Timer*/
		#sleep-timer-menu .form-control:focus{border-color: color-mix(in srgb, var(--spice-color, #1db954), #fff 50%); box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--spice-color, #1db954) 46%, #fff 17%);}
		#sleep-timer-menu .btn-success, #sleep-timer-menu .btn-success:hover {background: var(--spice-color, #1ed760) !important; border: 1px solid var(--spice-color, #1ed760) !important;}
